<div class="row" >
    <div class="col-lg-6" *ngFor="let contact of contacts | async ">
    <button [routerLink]="['/my-portal/contacts/edit']" routerLinkActive="router-link-active"    class="btn btn-outline-success"><span class="fa fa-edit"></span> Edit</button>
    <button (click)="delete(contact.userContactId)" class="btn btn-outline-danger"><span class="fa fa-minus"></span> Delete</button>

        <div class="alert alert-primary" role="alert">
            name: <span>{{contact.name}}</span>
            <br>
            email: <span>{{contact.email }}</span>
            <br>
            phone Number: <span>{{contact.phoneNumber}}</span>
        </div>
    </div>
</div>