<div id="navbar">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <a class="navbar-brand" href="/EventPortal">Events Portal</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"> <a class="nav-link" [routerLink]="['home']"> Home<span class="sr-only">(current)</span></a></li>
                <li class="nav-item"><a class="nav-link" [routerLink]="['about']">About</a> </li>
                <li class="nav-item"><a class="nav-link" [routerLink]="['contactus']">Contact</a></li>
                <!-- <li class="nav-item"><a class="nav-link">Confirm</a></li> -->
                <li class="nav-item" *ngIf="!isLogin"><a class="nav-link" [routerLink]="['login']" routerLinkActive="active">Login</a></li>
                <li class="nav-item" *ngIf="isLogin"><a class="nav-link" [routerLink]="['logout']" routerLinkActive="active">Logout</a></li>
            </ul>
        </div>
    </nav>
</div>