<div class="card boxed-bottom" style="padding:10px;">
  <p class="card-heading">Events Portal</p>
  <ul class="side-nav">
    <!-- <li><a  routerLink="/users/:userid/new-event" routerLinkActive="router-link-active">Add An Event</a></li> -->
    <li><a [routerLink]="['/my-portal/events/new']" routerLinkActive="router-link-active">Add An Event</a></li>
    <li><a routerLink="/about">About Events Portal</a></li>
    <li><a routerLink="/contactus">Contact Us</a></li>
    <!-- <li><a href="/users/1">My Portal</a></li> -->
    <li><a routerLink="/my-portal/events/my-events">My Portal</a></li>
  </ul>
</div>