<form [formGroup]="rsvpForm" (submit)="onSubmit(rsvpForm.value)">
  <h4>Send Us A Message</h4>
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" class="form-control" id="name" style="max-width: 380px" formControlName="name">
  </div>
  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" class="form-control" id="email" style="max-width: 380px" formControlName="email">
  </div>
  <div class="form-group">
    <label for="message">Message:</label>
    <textarea class="form-control" rows="3" id="message" style="max-width: 380px" formControlName="message"></textarea>
  </div>
  <div class="form-group">
    <button type="submit" [disabled]="!rsvpForm.valid" class="btn btn-outline-light">I Am Attending</button>
  </div>
</form>